{% extends 'base.html' %}

{% block content %}

<style>
    .black-text {
        color: black;
    }
</style>

<div class="flex items-center flex-col my-4 black-text">
    <h1 class="text-4xl font-bold my-6 py-5">Add a Camera</h1>
    <div class="w-full max-w-xs">
        <input type="text" id="cameraid" placeholder="XX:XX:XX:XX:XX:XX" class="w-full p-3 border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 py-2 px-2" pattern="^([0-9A-Fa-f]{2}:){5}[0-9A-Fa-f]{2}$" required>
    </div>
    <div class="py-5">
        <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked id="statusCheckbox">
            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span id="toggleLabel" class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Working</span>
        </label>
    </div>
    <div class="py-5 flex flex-col sm:flex-row sm:gap-4 w-full max-w-xs">
        <div class="flex-1">
            <label for="camera_type" class="block text-sm font-medium text-gray-900 dark:text-gray-300">Camera Type</label>
            <select name="camera_details" id="camera_type" class="black-text mt-2 w-full">
                <option value="SE">Shelf Edge</option>
                <option value="FM">Face Mount</option>
                <option value="HM">Hanger Mount</option>
                <option value="RM">Riser Mount</option>
                <option value="WS">Wire Shelf</option>
                <option value="SM">Stand Mount</option>
                <option value="HH">Hammer Head Riser</option>
                <option value="UM">Universal Mount</option>
                <option value="CM">Clip Mount</option>
                <option value="SC">Striding Cam</option>
                <option value="BR">Backroom</option>
            </select>
        </div>
        <div class="flex-1 mt-4 sm:mt-0">
            <label for="camera_fov" class="block text-sm font-medium text-gray-900 dark:text-gray-300">Field of View</label>
            <select name="camera_details2" id="camera_fov" class="black-text mt-2 w-full">
                <option value="21">FOV 21</option>
                <option value="40">FOV 40</option>
                <option value="60">FOV 60</option>
                <option value="88">FOV 88</option>
                <option value="110">FOV 110</option>
                <option value="120">FOV 120</option>
            </select>
        </div>
    </div>
    <div id="messagePopup" class="black-text hidden p-3 mt-2 text-sm bg-blue-600 rounded-lg"></div>
</div>

<script>
    function toggleLabelText() {
        const checkbox = document.getElementById('statusCheckbox');
        const label = document.getElementById('toggleLabel');
        if (checkbox.checked) {
            label.textContent = 'Broken';
            localStorage.setItem('statusCheckbox', 'broken');
        } else {
            label.textContent = 'Working';
            localStorage.setItem('statusCheckbox', 'working');
        }
    }

    function getLabelText() {
        const label = document.getElementById('toggleLabel');
        return label.textContent;
    }

    function showMessage(message, isSuccess, color) {
        const popup = document.getElementById('messagePopup');
        popup.textContent = message;
        popup.style.backgroundColor = color;        
        popup.classList.remove('hidden');
        setTimeout(() => {
            popup.classList.add('hidden');
        }, 3000);
    }

    document.addEventListener('DOMContentLoaded', function() {
        const savedStatus = localStorage.getItem('statusCheckbox');
        const checkbox = document.getElementById('statusCheckbox');
        const label = document.getElementById('toggleLabel');
        
        if (savedStatus === 'broken') {
            checkbox.checked = true;
            label.textContent = 'Broken';
        } else {
            checkbox.checked = false;
            label.textContent = 'Working';
        }

        // Attach event listener to checkbox
        checkbox.addEventListener('change', toggleLabelText);

        const cameraInput = document.getElementById('cameraid');
        cameraInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                // Prevent the default action (form submission)
                event.preventDefault();

                // Check if the input is valid
                if (!cameraInput.checkValidity()) {
                    showMessage("Invalid MAC address format", 'red');
                    return;
                }

                // Get the input value
                const cameraId = cameraInput.value;
                const status = getLabelText();
                const type = document.getElementById('camera_type').value;
                const fov = document.getElementById('camera_fov').value;
                const cameraType = type + "-" + fov;

                // Create the POST request
                fetch('api/addcamera', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        cameraid: cameraId,
                        status: status,
                        camera_type: cameraType
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showMessage(data.message, true, 'green');
                        cameraInput.value = '';
                    } else {
                        cameraInput.value = '';
                        showMessage(data.message, false, 'red');
                    }
                });
            }
        });
    });
</script>

{% endblock %}
