{% extends 'base.html' %}

{% block content %}


    <div id = "body-container" class="mx-auto p-4 flex-grow flex flex-col">
        <div id="header-filters" class="flex space-x-4 bg-gray-200 p-4">
            <div id="country-filter-container" class="flex flex-col">
                <label>COUNTRY</label>
                <select id="country-filter" class="w-40 cursor-pointer">
                    <option>Dropdown</option>
                    <option>Nz</option>
                    <option>Au</option>
                </select>
            </div>
            <div id="user-filter-container" class="flex flex-col">
                <label>USER</label>
                <select id="user-filter" class="w-40 cursor-pointer">
                    <option>Dropdown</option>
                    <option>Ant</option>
                    <option>Adam</option>
                </select>
            </div>
            <div id="camera-type-filter-container" class="flex flex-col">
                <label>CAMERA TYPE</label>
                <select id="camera-type-filter" class="w-40 cursor-pointer">
                    <option>Dropdown</option>
                    <option>FM-40</option>
                    <option>FM-62</option>
                </select>
            </div>
            <div id="camera-status-filter-container" class="flex flex-col">
                <label>CAMERA STATUS</label>
                <select id="camera-status-filter" class="w-40 cursor-pointer">
                    <option>Dropdown</option>
                    <option>Working</option>
                    <option>Broken</option>
                </select>
            </div>
        </div>
        <div id="chart-area" class="flex space-x-2 flex-row my-6">
            <div id="chart-left" class="bg-gray-200 p-2">
                <div id="total-camera-div" class="flex space-x-4 flex-row">
                    <div>
                        <h1 class="text-lg mb-4">Total Cameras</h1>
                        <h1 id="total-camera-num" class="text-4xl mb-4">200</h1>
                    </div>
                    <div>
                        <h1 id="working-camera-num" class="text-lg mb-2">100</h1>
                        <h1 class="text-xs mb-2">Working</h1>
                        <h1 id="broken-camera-num" class="text-lg mb-2">100</h1>
                        <h1 class="text-xs mb-2">Broken</h1>
                    </div>
                </div>
            </div>
            <div id="chart-right">
                <div id="main-chart">
                    <p>hey</p>
                </div>
            </div>
        </div>
        <div class="relative" id="table-area">
            <div class="flex justify-between items-center mb-2">
                <h2 class="text-lg font-semibold">Camera Table</h2>
                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
                    Download
                </button>
            </div>
            <div id ="table" class="h-64 overflow-x-auto bg-gray-100 rounded-lg">
                <table id="table-body" class="table-auto w-full"><thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Camera Name</th>
                        <th class="px-4 py-2 text-left">Status</th>
                        <th class="px-4 py-2 text-left">Type</th>
                        <th class="px-4 py-2 text-left">Country</th>
                    </tr>
                </thead><tbody></tbody></table>
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/newhome.js') }}"></script>
{% endblock %}
