{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto p-4">
    <h1 class="text-4xl font-bold mb-4">Dashboard</h1>
    <input type="hidden" id="username" value="{{ username }}">
    <div id="chart-container" class="grid grid-cols-2 gap-4 w-full h-auto">
        <div class="bg-gray-50 p-4 flex flex-col justify-center items-center">
            <h2 class="text-xl font-semibold text-center mb-4">{{username | upper}} Camera Storage</h2> <!-- Title for the first column -->
            <div class="flex justify-center items-center">
                <canvas id="myPieChart" class="w-full max-w-xs h-auto"></canvas>
            </div>            
        </div>
        <div class="container mx-auto p-4 bg-gray-50">
            <h1 class="text-4xl font-bold mb-4">Download data</h1>
            <select name="download_format" id="formats">
                <option value="excel">Excel</option>
                <option value="json">Json</option>
            </select>
            <button id="download">Download</button>
        </div>
    </div>

</div>

<script>
    const submit = document.getElementById('download');
    const selectValue = document.getElementById('formats');
    const username = document.getElementById('username').value;
    submit.addEventListener('click', () => {
        let selectedValue = selectValue.value;
        sendForm(selectedValue)
    });

    const sendForm = (selectedValue) => {
        fetch('/api/download-usertable', {
            method: 'POST',
            headers: { 
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({filetype: selectedValue, user: username})
        })
        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'downloaded_file.xlsx';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        })
        .catch(error => console.error('Error downloading the file:', error));
    }
        
</script>


{% endblock %}

{% block title %}

{% endblock %}