<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Dashboard for {{ username }}</h1>
    <p>This user has {{ camera_count }} cameras.</p>
    <p>This user has {{ camera_count_working }} working cameras.</p>
    <p>This user has {{ camera_count_not_working }} broken cameras.</p>
    <a href="{{ url_for('admin_dashboard') }}">Back to Admin Dashboard</a>
</body>
</html>
